<p>
  <span>N = {{N}}</span>
  <button (click)="multiplyNBy2()">*2</button>
  <button [disabled]="N <= 64" (click)="divideNBy2()">/2</button>
</p>
<button (click)="calculate()">Recalculate</button>

<div class="canvas-wrapper">
  <canvas baseChart
          chartType="line"
          [options]="options"
          [labels]="labels"
          [datasets]="datasets1">
  </canvas>
</div>

<div class="canvas-wrapper">
  <canvas baseChart
          chartType="line"
          [options]="options"
          [labels]="labels"
          [datasets]="datasets2">
  </canvas>
</div>
