<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>{{ logo }}</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li *ngFor="let link of links" [ngClass]="{'active': rla.isActive}" class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" [routerLink]="link.link" #rla=routerLinkActive routerLinkActive>{{ link.title }}</a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" >
     <router-outlet></router-outlet> 
  </div>
</main>