<section>
  <h2 class="h1 py-3 font-weight-bold">Лабораторная работа 1</h2>
  <h3 class="h2 font-weight-bold">Задание 1</h3>
  <p class="mb-2 pb-3 lead ">
    Построить (написать программу) генератор последовательности равномерно распределенных случайных чисел на основе
    алгоритма Лемера. Предусмотреть при этом возможность ввода параметров a, R0, m с клавиатуры.
  </p>
  <h4 class="h5 font-weight-bold">Ввод исходных данных</h4>
  <form class="d-flex justify-content-between">
    <div class="md-form">
      <input
        type="number"
        name="a"
        id="a-1"
        [(ngModel)]="lemmInput.a"
        (ngModelChange)="onLemmInputChange()"
        class="form-control">
      <label for="a-1"
        [class.active]="lemmInput.a"
        class="">Введите a</label>
    </div>
    <div class="md-form">
      <input mdbInputDirective
        type="number"
        name="m"
        [(ngModel)]="lemmInput.m"
        (ngModelChange)="onLemmInputChange()"
        id="m_1"
        class="form-control">
      <label for="m_1"
        [class.active]="lemmInput.m != null"
        class="">Введите m</label>
    </div>
    <div class="md-form">
      <input mdbInputDirective
        type="number"
        name="r0"
        [(ngModel)]="lemmInput.r0"
        (ngModelChange)="onLemmInputChange()"
        id="r0_1"
        class="form-control">
      <label for="r0_1"
        [class.active]="lemmInput.r0 != null"
        class="">Введите R<sub>0</sub></label>
    </div>
  </form>
  <div *ngIf="lemmRandomDebugInfo.length > 0">
    <h4 class="h5 font-weight-bold">Результат работы алгоритма для первых {{lemmInput.amount}} чисел при: <i>a={{lemmInput.a}}, m={{lemmInput.m}}, R<sub>0</sub>={{lemmInput.r0}}</i></h4>
    <div class="my-3 d-flex flex-column">
      <div class="gray d-flex justify-content-between">
        <div class="w-20 flex-grow-0 flex-shrink-0 n font-weight-bold">N</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_prev font-weight-bold">R<sub>n-1</sub></div>
        <div class="w-20 flex-grow-0 flex-shrink-0 a_r_prev font-weight-bold">aR<sub>n-1</sub></div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_curr font-weight-bold">R<sub>n</sub></div>
        <div class="w-20 flex-grow-0 flex-shrink-0 x_curr font-weight-bold">X<sub>n</sub></div>
      </div>
      <div *ngFor="let lemm of lemmRandomDebugInfo; let i = index"
        [class.grey]="i % 2 === 0"
        class="d-flex justify-content-between">
        <div class="w-20 flex-grow-0 flex-shrink-0 n">{{ lemm.n }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_prev">{{ lemm.r_prev }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 a_r_prev">{{ lemm.a_r_prev }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_curr">{{ lemm.r_curr }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 x_curr">{{ lemm.x_curr }}</div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-button
            mat-raised-button
            color="primary"
            class="mr-2"
            (click)="add5()">Добавить 5</button>
    <button mat-button
            mat-raised-button
            color="primary"
            [disabled]="lemmRandomDebugInfo.length === 5"
            (click)="remove5()">Убрать 5</button>
  </div>
</section>
<hr class="mb-3">
<section class="part2 lightgrey">
  <h3 class="h2 font-weight-bold">Задание 2</h3>
  <p class="mb-2 pb-3 lead ">
    Для полученной выборки чисел построить гистограмму (20 интервалов), рассчитать значения оценок для математического
    ожидания, дисперсии и среднего квадратичного отклонении.
  </p>
  <h4 class="h5 font-weight-bold">Гистограмма для {{lemmInput.bigAmount}} чисел при: <i>a={{lemmInput.a}},
      m={{lemmInput.m}}, R<sub>0</sub>={{lemmInput.r0}}</i></h4>
  <div>
    <app-gistogram [data]="gistogramData"></app-gistogram>
  </div>
  <h4 class="h5 font-weight-bold">Оценки распределения для {{lemmInput.bigAmount}} чисел при: <i>a={{lemmInput.a}},
      m={{lemmInput.m}}, R<sub>0</sub>={{lemmInput.r0}}</i></h4>
  <div>
    <div><span class="font-weight-bold">Мат. ожидание: </span> {{ randomProperties.M }}</div>
    <div><span class="font-weight-bold">Дисперсия: </span> {{ randomProperties.D }}</div>
    <div><span class="font-weight-bold">СКО: </span> {{ randomProperties.SKO }}</div>
  </div>
</section>
<hr class="mb-3">
<section class="part3">
  <h3 class="h2 font-weight-bold">Задание 3</h3>
  <p class="mb-2 lead">
    Оценить равномерность последовательности по косвенным признакам (рассчитать относительную частоту попадания точек в круг).
  </p>
  <div>
    <div><span class="font-weight-bold">Относительная частота: </span> {{
      kosvenniePriznaki.otnositelnayaChastotaPopadaniya }}</div>
    <div><span class="font-weight-bold">P/4: </span> {{ kosvenniePriznaki.pNa4 }}</div>
  </div>
</section>
<hr class="mb-3">
<section class="part4">
  <h3 class="h2 font-weight-bold">Задание 4</h3>
  <p class="mb-2 pb-3 lead ">
    Найти длину периода и участка апериодичности. Варьируя значениями параметров a, R0, m, добиться длины периода не
    менее 100000 чисел.
  </p>
  <h4 class="h5 font-weight-bold">Ввод исходных данных (рекомендуемые a=2147483641, m=4294967295, R<sub>0</sub>=20004979)</h4>
  <form class="d-flex justify-content-between">
    <div class="md-form">
      <input mdbInputDirective
        type="number"
        name="a"
        id="a"
        [(ngModel)]="lemmInput.a"
        (ngModelChange)="onLemmInputChange()"
        class="form-control">
      <label for="a"
        [class.active]="lemmInput.a != null"
        class="">Введите a</label>
    </div>
    <div class="md-form">
      <input mdbInputDirective
        type="number"
        name="m"
        [(ngModel)]="lemmInput.m"
        (ngModelChange)="onLemmInputChange()"
        id="m"
        class="form-control">
      <label for="m"
        [class.active]="lemmInput.m != null"
        class="">Введите m</label>
    </div>
    <div class="md-form">
      <input mdbInputDirective
        type="number"
        name="r0"
        [(ngModel)]="lemmInput.r0"
        (ngModelChange)="onLemmInputChange()"
        id="r0"
        class="form-control">
      <label for="r0"
        [class.active]="lemmInput.r0 != null"
        class="">Введите R<sub>0</sub></label>
    </div>
  </form>
  <div>
    <div><span class="font-weight-bold">Длина периода: </span> {{ randomProperties.period_length }}</div>
    <div><span class="font-weight-bold">Длина отрезка апериодичности: </span> {{ randomProperties.aperiodichnost_length
      }}</div>
  </div>
  <div *ngIf="lemmRandomDebugInfo.length > 0">
    <h4 class="h5 font-weight-bold">Результат работы алгоритма для первых {{lemmInput.amount}} чисел при: <i>a={{lemmInput.a}}, m={{lemmInput.m}}, R<sub>0</sub>={{lemmInput.r0}}</i></h4>
    <div class="my-3 d-flex flex-column">
      <div class="gray d-flex justify-content-between">
        <div class="w-20 flex-grow-0 flex-shrink-0 n font-weight-bold">N</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_prev font-weight-bold">R<sub>n-1</sub></div>
        <div class="w-20 flex-grow-0 flex-shrink-0 a_r_prev font-weight-bold">aR<sub>n-1</sub></div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_curr font-weight-bold">R<sub>n</sub></div>
        <div class="w-20 flex-grow-0 flex-shrink-0 x_curr font-weight-bold">X<sub>n</sub></div>
      </div>
      <div *ngFor="let lemm of lemmRandomDebugInfo; let i = index"
        [class.grey]="i % 2 === 0"
        class="d-flex justify-content-between">
        <div class="w-20 flex-grow-0 flex-shrink-0 n">{{ lemm.n }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_prev">{{ lemm.r_prev }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 a_r_prev">{{ lemm.a_r_prev }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 r_curr">{{ lemm.r_curr }}</div>
        <div class="w-20 flex-grow-0 flex-shrink-0 x_curr">{{ lemm.x_curr }}</div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-button
            mat-raised-button
            color="primary"
            class="mr-2"
            (click)="add5()">Добавить 5</button>
    <button mat-button
            mat-raised-button
            color="primary"
            [disabled]="lemmRandomDebugInfo.length === 5"
            (click)="remove5()">Убрать 5</button>
  </div>
</section>
