<h2 class="h1 py-3 font-weight-bold">Контрольная работа 1 - вариант 26</h2>
<h3 class="h2 font-weight-bold">Условие</h3>
<img src="/assets/saimm/kr1_task.png" />
<ol>
  <li>Источник с вероятностью просеивания (не выдачи) заявки = 0.7</li>
  <li>Канал с вероятностью просеивания (не обслуживания) заявки = 0.7</li>
  <li>Накопитель на 1 заявку</li>
  <li>Канал с вероятностью просеивания (не обслуживания) заявки = 0.75</li>
</ol>
<div>
  Найти:
  <ul>
    <li>A - абсолютная пропускная способность</li>
    <li>W<sub>c</sub> - среднее время пребывания заявки в системе</li>
    <li>L<sub>c</sub> - среднее число заявок находящихся в системе</li>
  </ul>
</div>
<section>
  <h3 class="h2 font-weight-bold">Решение</h3>
  <p>Зашифруем состояния 3х-компонентным вектором: t1 j t2</p>
  <svg id="smoSvg" width="600" height="800" style="border: 1px black solid"></svg>
</section>